<!DOCTYPE html>
<html>
    <head>
        <title>Rorschach Inkblot Test</title>
        <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>

    </head>
    <body style="width: 100%; height: 100%; margin: 0;">
        <h1 style="text-align: center;">Rorschach Inkblot Test</h1>
    <form id="idForm" style="margin: auto;">
        <h4>Make sure you are provided with the time and space before taking the test.</h4>
        <!-- <input type="hidden" id="identification" name="id" value="0" /> -->
        <button type="submit">Start Test</button>
    </form>

    <script type="text/javascript" src="static/js/home.js"></script>
    </body>
</html>